:root {
  --white: #faf5e8;
  --bastard-amber: #ffac3e;
  --orange-peel: #ff925c;
  --black: #414141;
  --burnt-sienna: #5c3600;
  --fire-red: #d70229;
  --rose-pink: #de002c;
  --green: #197d00;
  --true-blue: #007a85;
  --pale-indigo: #4d5da3;
}
