@import "./style/color.css";
@import "./style/typography.css";

* {
  box-sizing: border-box;
}

html {
  background: var(--white);
	color: var(--black);
}

body {
	margin: 0;
}

.header-color {
	background: var(--fire-red);
	height: 4rem;
}

h2 {
  color: var(--burnt-sienna);
  margin: 0.6rem 0;
}

p {
  color: var(--black);
  margin: 0.5rem 0;
}

.profile {
  max-width: calc(100% - (1.56rem * 2));
  border-radius: 100%;
  box-shadow: 0 3px 6px var(--black);
}

.l-contained {
  margin: 0 auto;
  max-width: 800px;
}

.l-columns {
  display: flex;
}

.l-columns > aside {
  flex-basis: 33%;
  text-align: center;
}

.l-columns > main {
  flex-basis: 66%;
}

.decorative {
  font-family: "Casey";
  text-align: center;
}

h1.decorative {
  line-height: 0.8;
  margin: 1.5rem 0;
  font-size: 4rem;
}

.rotate-offset {
  margin-left: 1.8ch;
  text-indent: -1.8ch;
  transform: rotateZ(-6deg);
}

.l-columns > article {
  margin: 2rem;
}

ul.ww-badge-container {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0;
}

li.ww-badge {
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
	color: var(--white);
	cursor: default;
	display: inline-block;
	font-weight: bold;
	padding: 0.33rem 0.5rem;
	margin: .25rem;
	transform: translateY(0);
	transition: 100ms transform ease-in-out;
}

ul.ww-badge-container > li.ww-badge:nth-child(odd):hover {
	transform: rotateZ(3deg) translateY(-3px);
}

ul.ww-badge-container > li.ww-badge:nth-child(even):hover {
	transform: rotateZ(-3deg) translateY(-3px);
}

nav.expand-resume {
	margin: 0.5rem auto;
}

nav.expand-resume > ul {
	display: flex;
	list-style: none;
	padding-left: 0;
	margin: 0;
}

nav.expand-resume > ul > li {
	font-weight: bold;
	padding: 0.75rem 0;
}

nav.expand-resume > ul > li {
	display: inline-block;
	flex-basis: 100%;
	height: 100%;
	text-align: center;
	border-right: 2px solid var(--black);
}

nav.expand-resume > ul > li:last-child {
	border-right: none;
}
